<!-- Describe task in general -->

<p style="text-align: justify;">
    除非<code>a, b</code> 的质因数已经合作，否则<a target="_blank" href="https://en.wikipedia.org/wiki/Fundamental_theorem_of_arithmetic">Fundamental Theorem of Arithmetic</a> 的铁腕规定，对于任何两个正整数指数<code>pa</code> 和<code>pb</code> ，整数幂<code>a**pa</code> 和<code>b**pb</code> 永远不可能相等。不过，本着<a target="_blank" href="https://en.wiktionary.org/wiki/close_enough_for_government_work">“close enough for government work”</a> 的欢快精神，如果<code>abs(a**pa-b**pb)</code> 乘以<code>tolerance</code> 的差最多等于这两个幂中较小的一个，我们就定义这两个幂为 "命中"。(这个定义有意避免了除法，以保证对任意大整数的计算既快速又准确）。例如，<code>tolerance=100</code> 希望<code>a**pa</code> 和<code>b**pb</code> 在 1 % 的范围内。 
</p>

<p>
    对于给定的正整数，<code>a, b</code> 返回满足 要求的最小正整数指数。 <code>{% if is_js %}[pa, pb]{% else %}(pa, pb){% endif %}</code>满足<code>tolerance</code> 要求的最小正整数指数。
</p>

<!-- <p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p> -->

<!-- Explain input and output values -->
<p>
   <strong>输入</strong>三个整数 <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>输出：</strong> {% if is_js %}数组{% else %}元组{% endif %} <span>({% if is_js %}Array{% else %}Tuple{% endif %})</span>(或列表）的两个整数 <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>


<p>
    <strong>示例</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
<p><i>该任务取自<span>Python CCPS 109</span> 。它通过以下方式传授<span>Ryerson Chang School of Continuing Education</span> <a href="https://github.com/ikokkari">Ilkka Kokkarinen</a></i></p>
